<!-- views/backend/page3.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Files</title>
</head>
<body>
    <h1>Delete Files</h1>
    <ul>
        <% files.forEach(file => { %> <!--this is an embedding needed for mongodb-->
            <li>
                <strong>Filename:</strong> <%= file.filename %><br>
                <strong>Path:</strong> <%= file.path %><br>
                <strong>Size:</strong> <%= file.size %> bytes<br>
                <!--<strong>Content:</strong> <%= file.content %><br>-->
                <!-- Form to delete the file -->
                <form action="/delete/<%= file._id %>" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
